body {
  margin: 40px;
}

.colourPicker {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-column-gap: 10px;
  grid-template-rows: 50px;
}

.colour {
  background-color: rgb(17, 255, 164);
}

/*//Grid Style 6 by 6 Tiles*/

.wrapper6x6 {
  display: grid;
  grid-template-columns: [col] 25px [col] 50px [col] 50px [col] 50px [col] 50px [col] 50px [col] 50px [col] 25px;
  grid-template-rows: [row] 25px [row] 50px [row] 50px [row] 50px [row] 50px [row] 50px [row] 50px [row] 25px;
  grid-gap: 0px;
  background-color: #fff;
  color: #444;
}

/*//Grid Style 3 by 3 Tiles*/

.wrapper3x3 {
  display: grid;
  grid-template-columns: [col] 25px [col] 100px [col] 100px [col] 100px [col] 25px;
  grid-template-rows: [row] 25px [row] 100px [row] 100px [row] 100px [row] 25px;
  grid-gap: 0px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  font-size: 150%;
  align-items: center;
}

.center {
  margin: auto;
  width: 410px;
}

/*Style for the borders*/

.border {
  background-color: rgb(0, 0, 0);
}

/*Style 6 by 6*/

.top6x6 {
  grid-column: col 1 / span 7;
  grid-row: row 1;
}

.bottom6x6 {
  grid-column: col 1 / span 8;
  grid-row: row 8;
}

.left6x6 {
  grid-column: col 1;
  grid-row: row 1 / span 7;
}

.right6x6 {
  grid-column: col 8;
  grid-row: row 1 / span 7;
}

/*Style 3 by 3 tiles*/

.top3x3 {
  grid-column: col 1 / span 5;
  grid-row: row 1;
}

.bottom3x3 {
  grid-column: col 1 / span 5;
  grid-row: row 5;
}

.left3x3 {
  grid-column: col 1;
  grid-row: row 1 / span 5;
}

.right3x3 {
  grid-column: col 5;
  grid-row: row 1 / span 5;
}